[Desktop Entry]
Encoding=UTF-8
Name=Link to Back to results
Type=Link
URL=https://www.amazon.com/s?k=keyboard&qid=1671619050&ref=sr_pg_1
Icon=text-html
